<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Fotocasa</title>
</head>
<body>
    <h1>Resultados de Fotocasa</h1>

        <!-- Dentro de la plantilla fotocasa.html -->
    {% for resultado in resultados %}
    <div>
        <h2>{{ resultado.titulo }}</h2>
        <p>Precio: {{ resultado.precio }}</p>
        <p>Descripción: {{ resultado.descripcion }}</p>
        <img src="{{ resultado.imagen_url }}" alt="Imagen de la propiedad">
        <a href="{{ resultado.link }}">Enlace</a>
    </div>
    {% endfor %}

</body>
</html>
