<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <aside>
            
        </aside>
    </header>
    <form action="/index" method="POST">
        <label for="web">Web</label>
        <input type="text" name="web" id="web">
        <button>Buscar</button>
        <h1>{{titulo1}}</h1>
    <ul>
        {% for enlace in enlaces_principales %}
            <li><a href="{{ enlace.url }}">{{ enlace.texto }}</a></li>
        {% endfor %}
    </ul>

    <h1>{{titulo2}}</h1>
    <ul>
        {% for enlace in enlaces_secundarios %}
            <li><a href="{{ enlace.url }}">{{ enlace.url }}</a></li>
        {% endfor %}
    </ul>
    </form>

    <footer>

    </footer>
</body>
</html>